.shop {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  position: relative;
}

.person-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 40px 0;
}

.cart-container {
  padding: 40px 0;
}
