.shop {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  position: relative;
}

.person-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 40px 0;
}

.cart-container {
  padding: 40px 0;
}

.error {
  width: 100vw;
  text-align: center;
  position: fixed;
  top: -100px;
  font-weight: 700;
  padding-block: 0.25rem;
  background: var(--primary-color);
  transition: 0.3s ease;
}

#show {
  top: 0;
}
