.cart {
  position: sticky;
  top: 70px;
  background: var(--primary-color);
  box-shadow: 0 3px 15px rgb(0 0 0 / 15%);
}
/* icon */
.icon {
  text-align: center;
}
.icon i {
  display: inline-block;
  padding: 20px;
  border-radius: 50%;
  color: var(--white);
  background: var(--primary-color);
  border: 0.25rem solid var(--white);
  box-shadow: 0 5px 15px rgb(0 0 0 / 15%);
  transform: translateY(-50%);
}

/* summer */
.summery {
  padding: 0 20px;
  text-align: center;
  position: relative;
  top: -20px;
}

p {
  font-size: 1.2rem;
  color: var(--white);
  line-height: 1.5;
}

p span {
  font-weight: 700;
}
