.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--white);
  margin: 0.5rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.cart-item:hover {
  background: #fff;
}

.name-container {
  display: flex;
  align-items: center;
}

.cart-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0.5rem 1rem;
}

.cart-item p,
.cart-item i {
  color: var(--primary-color);
  font-size: 1rem;
  line-height: 2;
  padding: 0.5rem 1rem 0.5rem 0;
}

.cart-item p {
  font-weight: 500;
}
