/* font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* variables */
:root {
  --primary-color: #1dadd3;
  --text-dark: #343030;
  --text-light: #adadad;
  --white: #f1f1f1;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--white);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 15px;
}

/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* utilities */
.container {
  width: min(100%, 1500px);
  margin: 0 auto;
  padding: 0 20px;
}
