/* font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* variables */
:root {
  --primary-color: #1dadd3;
  --text-dark: #343030;
  --text-light: #adadad;
  --white: #f1f1f1;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: overlay;
}

/* utilities */
.container {
  width: min(100%, 1500px);
  margin: 0 auto;
  padding: 0 20px;
}

.main-btn {
  font-size: 1rem;
  color: var(--white);
  background: var(--primary-color);
  font-weight: 700;
  border: 0.15rem solid var(--primary-color);
  outline: none;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.main-btn:hover {
  background: transparent;
  color: var(--primary-color);
}
